# Question 1

In [57]:
S = [["him", "sell"],[90, 28, 43]]

In [58]:
S[0][1][1]

'e'

# Question 2

In [59]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [60]:
x = y[1][1]

In [61]:
x

8

# Question 3

In [62]:
## Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [63]:
import numpy as np

In [64]:
import pandas as pd

In [65]:
df = pd.read_csv("C:\HAMOYE\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [66]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [67]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [68]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [69]:
df.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2014           float64
Y2015           float64
Y2016           float64
Y2017           float64
Y2018           float64
dtype: object

In [70]:
print(df['Y2017'].isnull().sum())

1506

In [71]:
df.groupby('Area')['Y2017'].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [72]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [73]:
df.groupby('Y2017')['Y2017'].count()

Y2017
-1582.0      2
-1200.0      1
-1159.0      1
-865.0       1
-860.0       1
            ..
 96443.0     1
 106400.0    1
 112625.0    1
 117702.0    1
 190873.0    1
Name: Y2017, Length: 4537, dtype: int64

In [74]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [75]:
df[['Y2017']] = df[['Y2017']].fillna(value='-1582.0')

In [76]:
df.groupby('Area')['Y2017'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Y2017, dtype: int64

### ANS - kenya

# # Question 6

In [77]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [78]:
pd.DataFrame(lst, columns = col, index = [1, 2, 3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

# Question 7

In [79]:
grouped = df.groupby(['Y2015', 'Y2018'])['Item'].sum()

In [80]:
print(grouped)

Y2015      Y2018
-3161.0    -296.0       Cereals - Excluding Beer
-2152.0    -597.0             Maize and products
-1284.0     1898.0      Cereals - Excluding Beer
-907.0     -529.0       Cereals - Excluding Beer
-887.0      163.0           Sorghum and products
                                  ...
 92443.0    98424.0                   Population
 100835.0   109224.0                  Population
 110798.0   117038.0               Starchy Roots
 111663.0   118172.0               Starchy Roots
 181137.0   195875.0                  Population
Name: Item, Length: 14814, dtype: object

In [81]:
grouped_wine = df[df['Item'] == 'Wine'].groupby(['Y2015', 'Y2018'])['Item'].count()

In [82]:
print(grouped_wine.count())

125

In [83]:
grouped_area = df.groupby('Y2017')['Area'].count()

In [84]:
print(grouped_area)

Y2017
-1582.0        2
-1200.0        1
-1159.0        1
-865.0         1
-860.0         1
            ...
106400.0       1
112625.0       1
117702.0       1
190873.0       1
-1582.0     1506
Name: Area, Length: 4538, dtype: int64

### Question 8

In [85]:
df_selected = df[["Area", "Y2017"]]

In [86]:
grouped = df_selected.groupby("Area").sum()

C:\Users\bidem\AppData\Local\Temp\ipykernel_7304\3810323659.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df_selected.groupby("Area").sum()

In [90]:
#sorted_grouped = grouped.sort_values(by="Y2017")

In [91]:
df.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4538
Y2018           4591
dtype: int64

### Ans is 49

## Question 9

In [94]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

### Ans is Type Error

# Question 10

In [97]:
df.corr()

C:\Users\bidem\AppData\Local\Temp\ipykernel_7304\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992757
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,1.000000

### Ans is 2016

# Question 14

In [102]:
# df['Element'] = df['Element'].astype(float)

In [105]:
df.groupby('Element')['Y2017'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2017, dtype: int64

## Question 15

In [106]:
x=df['Y2014'].isnull().sum()

In [107]:
x

1589

In [109]:
y =df[['Y2014', "Y2015", "Y2016", "Y2017", "Y2018"]].sum()

C:\Users\bidem\AppData\Local\Temp\ipykernel_7304\1182145002.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  y =df[['Y2014', "Y2015", "Y2016", "Y2017", "Y2018"]].sum()

In [110]:
y

Y2014    7965086.13
Y2015    8032340.23
Y2016    8112472.65
Y2018    8554629.96
dtype: float64

In [112]:
z =df[['Y2014', "Y2015", "Y2016", "Y2017", "Y2018"]].isnull().sum()

In [113]:
z

Y2014    1589
Y2015    1548
Y2016    1535
Y2017       0
Y2018    1436
dtype: int64

### Ans = 1589 and 2.607

## Question 16

In [115]:
df.groupby('Element')[['Y2014', "Y2015", "Y2016", "Y2017", "Y2018"]].count()

                                        Y2014  Y2015  Y2016  Y2017  Y2018
Element
Domestic supply quantity                 5244   5245   5250   5295   5256
Export Quantity                          3660   3704   3653   4403   3646
Fat supply quantity (g/capita/day)       4965   4974   4980   5023   4987
Feed                                     1216   1177   1215   1319   1225
Food                                     4896   4901   4910   4941   4913
Food supply (kcal/capita/day)            4947   4955   4963   5014   4969
Food supply quantity (kg/capita/yr)      4860   4865   4874   4905   4877
Import Quantity                          4919   4911   4908   5139   4945
Losses                                   2009   2009   2009   2009   2008
Other uses (non-food)                    1662   1667   1634   1732   1655
Processing                               1987   1995   1996   2010   2003
Production                               3830   3828   3838   3881   3846
Protein supply quantity (g/capita/day)   4963   4971   4978   5023   4986
Residuals                                4604   4605   4610   4655   4616
Seed                                      762    759    759    762    758
Stock Variation                          4230   4229   4231   4232   4217
Total Population - Both sexes              45     45     45     45     45
Tourist consumption                       555    555    555    555    555

### Ans - 2017

## Question 17

In [116]:
# A pandas Dataframe with dimensions (100,3) has how many features and observations?

#### Ans - 3 features, 100 observations

## Question 19

In [126]:
total_protein_supply_Madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Y2015']) & (df['Element'] == 'Protein supply quantity (g/capita/day)')].sum()

In [127]:
print(total_protein_supply_Madagascar_2015)

Area Code                                                    8901
Area            MadagascarMadagascarMadagascarMadagascarMadaga...
Item Code                                                  189330
Item            Grand TotalVegetal ProductsAnimal ProductsCere...
Element Code                                                46506
Element         Protein supply quantity (g/capita/day)Protein ...
Unit            g/capita/dayg/capita/dayg/capita/dayg/capita/d...
Y2014                                                      177.77
Y2015                                                      173.05
Y2016                                                      173.37
Y2017                                                      175.72
Y2018                                                       176.6
dtype: object

### Ans is 173.05

## Question 20

In [128]:
# Mean

In [137]:
df['Y2017'] = pd.to_numeric(df['Y2017'])

In [138]:
df["Y2017"].mean()

98.3416830480941

In [136]:
df["Y2017"].std()

1672.6010071297417